<%-     include('partials/header');       -%>

<header>
    <div class="smoothie">
        <img src="/logo.jpg" alt="">
    </div>

    <div class="headings">
        <h2>Node js Login System</h2>
        <h3>feat. JWT, Express and Mongoose</h3>
       
    </div>
</header>

<%-     include('partials/footer');       -%>